/* your styles go here */
.category-index {
  line-height: 50px; 
}

.image-list  .image-item {
	position: relative;
}

.image-item {
	display: inline-block;
	position: relative;

}

.image-list .button-image {
    position: absolute;
    top: 0;
    right: 0;
}

.image-list .delete-image {
    position: absolute;
    top: 0;
    right: 0;
}
.image-list .delete-slide {
    position: absolute;
    top: 0;
    right: 0;
}
.export {
  text-align:center;
  border: 1px solid #212529;
}
.product-quantity {
  display: inline-block;
}
.status-online {
  color: chartreuse;
}